%h1= @git_repo.repo_url

%h2 Branches

%ul#branches
  - @branches.each do |branch|
    %li= branch[:name]

%h2 Pull Requests

%ul#pull_requests
  - @pull_requests.each do |pr|
    %li= link_to pr[:title], git_repo_pull_request_path(git_repo_id: @git_repo.repo_url, id: pr[:number])