%h1 Github Repositories 

%ul
- @repositories.each do |github_repo|
  %li{data: {repo: github_repo[:full_name]}}
    %table
      %tbody
        %tr
          %td
            %a{href: github_repo[:html_url]}= github_repo[:name]
          %td
            = link_to "View", git_repo_path(id: github_repo[:full_name]), class: "btn btn-primary"
            